<div class="container-fluid seccion-1">
  <div class="container">
    <div class="row text-center min-vh-100">
      <div class="col-md-12 my-auto" data-aos="fade-up" data-aos-duration="700" data-aos-delay="90">
        <img src="assets/home/torre.png" alt="Torre del parque" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<section class="mt-5 container">
  <div class="row">
    <div class="col-md-6" data-aos="fade-right" data-aos-delay="90" data-aos-duration="800">
      <img src="assets/home/torres-parque/gallery-4.jpg" alt="Imagen 1" id="preview" class="img-fluid">
    </div>
    <div class="col-md-6 my-auto">
      <p class="font-title header mt-5" data-aos="fade-down">Conoce tu <br> nuevo<br> hogar</p>
      <p class="justify-content-center" data-aos="fade-down">Somos un concepto exclusivo, ubicado en la zona con <br>
        mayor plusvalía y desarrollo de la ciudad de San Luis<br>
        Potosí</p>
    </div>
    <div class="col-md-12" data-aos="fade-right" data-aos-duration="700" data-aos-delay="90">
      <div class="img-container">
        <div class="img-prev">
          <div class="img-slide active">
            <img src="assets/home/torres-parque/gallery-4.jpg" class="img-fluid" alt="Imagen miniatura 1" appGallery>
          </div>
          <div class="img-slide">
            <img src="assets/home/torres-parque/gallery-2.png" class="img-fluid" alt="Imagen miniatura 1" appGallery>
          </div>
          <div class="img-slide">
            <img src="assets/home/torres-parque/gallery-3.png" class="img-fluid" alt="Imagen miniatura 1" appGallery>
          </div>
          <div class="img-slide">
            <img src="assets/home/torres-parque/gallery-1.png" class="img-fluid" alt="Imagen miniatura 1" appGallery>
          </div>
          <div class="img-slide">
            <img src="assets/home/torres-parque/gallery-5.png" class="img-fluid" alt="Imagen miniatura 1" appGallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section >
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12 my-5">
        <img src="assets/conoce/cifras-torre.png" class="img-fluid" alt="Números" data-aos="fade-left"
             data-aos-delay="50"
             data-aos-duration="700"
             data-aos-easing="ease-in-out"
             data-aos-mirror="true"
             data-aos-once="true">
      </div>
    </div>
  </div>
</section>

<section class="my-5" data-aos="fade-right" data-aos-duration="700" data-aos-delay="90">
  <owl-carousel-o [options]="customOption">
    <ng-template carouselSlide>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/home/torres-parque/torre.png" class="img-fluid" alt="Slider-1">
          </div>
          <div class="col-md-6 my-auto">
            <p class="font-title  header-s justify-content-center w-75 mx-auto"
               data-aos="fade-down"
               data-aos-delay="50"
               data-aos-duration="700"
               data-aos-easing="ease-in-out"
               data-aos-mirror="true"
               data-aos-once="true"
            >Ubicación ideal<br> en San<br> Luis Potosí</p>
            <p class="w-75 justify-content-center mx-auto" data-aos="fade-down" data-aos-delay="90" data-aos-duration="900">
              Nuestro proyecto exclusivo permite disfrutar de la mejor <br>
              movilidad de la zona pues tiene gran cercanía con las <br>
              principales avenidas de la ciudad.
            </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/home/torres-parque/slider-2.png" class="img-fluid"  alt="Slider-2">
          </div>
          <div class="col-md-8 my-auto">
            <p class="font-title header-s justify-content-center w-75 mx-auto mt-4" data-aos="fade-down"
               data-aos-delay="50"
               data-aos-duration="700"
               data-aos-easing="ease-in-out"
               data-aos-mirror="true"
               data-aos-once="true">Amenidades <br> exclusivas</p>
            <p class="w-75 justify-content-center mx-auto" data-aos-duration="900" data-aos="fade-down" data-aos-delay="50">
              En Torre del Parque, otorgamos acceso a amenidades y <br>
              servicios que elevarán el nivel de experiencia en cada uno<br>
              de nuestros residentes.
            </p></div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/home/torres-parque/slider-3.png" class="img-fluid" alt="Slider-1">
          </div>
          <div class="col-md-6 my-auto">
            <p class="font-title header-s justify-content-center w-75 mx-auto" data-aos="fade-down"
               data-aos-delay="50"
               data-aos-duration="700"
               data-aos-easing="ease-in-out"
               data-aos-mirror="true"
               data-aos-once="true" >La <br>
              experiencia <br>
              integral<br>
              que estás <br>
              buscando</p>
            <!--<p class="w-75 justify-content-center mx-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Morbi sed volutpat fermentum egestas. Facilisis
              purus ullamcorper nunc, porttitor condimentum massa
              eget viverra a. Ridiculus mauris gravida lacus sed amet,
              diam rutrum tempus. Morbi eu vel tellus, id turpis.
            </p>-->
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
<section>
  <div class="container-fluid">
    <div class="row align-items-stretch ">
      <div class="col  d-none d-lg-flex col-md-5 col-lg-5 col-xl-6 min-vh-100" style="background: url('assets/conoce/seccion-5.png') center center no-repeat; background-size: cover;">
        <div class="row d-flex m-5 pt-5 justify-content-center">
          <div class="col-md-12 m-5 justify-content-center">
            <p class="header text-white font-title">¿Tienes alguna duda? Estamos para apoyarte</p>
            <p class="m-5 text-white" style="font-size:24px;">Visítanos en</p>
            <p class="m-5 w-75 text-white">Blvd. Antonio Rocha Cordero 265 <br>
              Pedregal II 78295 San Luis Potosí SLP MX<br>
              (444) 411 62 70
            </p>
          </div>
        </div>
      </div>
      <div class="col bg-white my-auto">
        <div class="text-center">
          <div class="row">
            <div class="col-md-12 prueba">
              <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1OyXCVgIrPyv3ger2XK-oHCw_r-70Rn--&ehbc=2E312F" class="iframe"></iframe></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
