<div class="container-fluid seccion-1">
  <div class="container">
    <div class="row text-center min-vh-100">
      <div class="col-md-12 my-auto" data-aos="fade-up" data-aos-delay="90" data-aos-duration="700">
        <img src="assets/home/privada-san-angel/privada.png" alt="Privada San Angel" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<section class="mt-5 container">
  <div class="row">
    <div class="col-md-6" data-aos="fade-up" data-aos-duration="750" data-aos-delay="90">
      <img src="assets/home/privada-san-angel/imagen1.png" class="img-fluid">
    </div>
    <div class="col-md-6 my-auto" data-aos="fade-up" data-aos-duration="750" data-aos-delay="90">
      <p class="font-title header mt-5">El hogar<br>
        que siempre<br>
        deseaste</p>
      <p class="w-75 justify-content-center">Un concepto residencial potosino, caracterizado por su <br>
        calidad, urbanismo y arquitectura. </p>
    </div>
  </div>
</section>
<section >
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12 my-5">
        <img src="assets/conoce/cifras-privada.png" class="img-fluid" alt="Números" data-aos="fade-left"
             data-aos-delay="50"
             data-aos-duration="700"
             data-aos-easing="ease-in-out"
             data-aos-mirror="true"
             data-aos-once="true">
      </div>
    </div>
  </div>
</section>

<section class="my-5" data-aos="fade-right" data-aos-duration="900" data-aos-delay="90">
  <owl-carousel-o [options]="customOption">
    <ng-template carouselSlide>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/home/privada-san-angel/slider-1.png" class="img-fluid" alt="Slider-1">
          </div>
          <div class="col-md-6 my-auto">
            <p class="font-title  header-s justify-content-center w-75 mx-auto"
               data-aos="fade-down"
               data-aos-delay="50"
               data-aos-duration="700"
               data-aos-easing="ease-in-out"
               data-aos-mirror="true"
               data-aos-once="true"
            >Excelente <br>ubicación </p>
            <p class="w-75 justify-content-center mx-auto" data-aos="fade-down" data-aos-delay="90" data-aos-duration="900">
              El equilibrio que estabas buscando está en nuestro<br>
              recinto. Cerca del centro, pero lo suficientemente alejado<br>
              para evitar el bullicio de la ciudad.</p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/home/privada-san-angel/slider-2.png" class="img-fluid" alt="Slider-2">
          </div>
          <div class="col-md-8 my-auto">
            <p class="font-title  header-s justify-content-center w-75 mx-auto mt-4" data-aos="fade-down"
               data-aos-delay="50"
               data-aos-duration="700"
               data-aos-easing="ease-in-out"
               data-aos-mirror="true"
               data-aos-once="true">Estilo de <br>vida <br>
              exclusivo </p>
            <p class="w-75 justify-content-center mx-auto" data-aos-duration="900" data-aos="fade-down" data-aos-delay="50">
              Construimos espacios de calidad que se transformarán <br>
              en hogares para crecer junto a lo más preciado que <br>
              tienes, tu familia.
            </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/home/privada-san-angel/slider-3.png" alt="Slider-1" class="img-fluid">
          </div>
          <div class="col-md-6 my-auto">
            <p class="font-title header-s  justify-content-center w-75 mx-auto" data-aos="fade-down"
               data-aos-delay="50"
               data-aos-duration="700"
               data-aos-easing="ease-in-out"
               data-aos-mirror="true"
               data-aos-once="true" >Ambiente de <br>seguridad y<br> privacidad </p>
            <p class="w-75 justify-content-center mx-auto">
              Para nosotros lo más importante eres tú, en nuestra <br>
              privada disfrutarás de un ambiente seguro gracias a <br>
              nuestro servicio de vigilancia 24/7 con acceso controlado.   </p></div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
<section>
  <div class="container-fluid">
    <div class="row align-items-stretch ">
      <div class="col  d-none d-lg-flex col-md-5 col-lg-5 col-xl-6 min-vh-100" style="background: url('assets/home/privada-san-angel/contacto.png') center center no-repeat; background-size: cover;">
        <div class="row d-flex m-5 pt-5 justify-content-center">
          <div class="col-md-12 m-5 justify-content-center">
            <p class="header text-white font-title">¿Tienes alguna duda? Estamos para apoyarte</p>
            <p class="m-5 text-white" style="font-size: 24px;">Visítanos en</p>
            <p class="m-5 w-75 text-white">Av. Villa Magna Nte. 170,<br>
              Villa Magna, 78183 San
              Luis, S.L.P.<br>
              (444) 710 0710
            </p>
          </div>
        </div>
      </div>
      <div class="col bg-white my-auto">
        <div class="text-center">
          <div class="row">
            <div class="col-md-12" style="padding: 0;">
              <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1J4EWOsMmpwqCjRjPm00XRJMQR3AGBnz_&ehbc=2E312F" class="iframe"></iframe></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

