.seccion-1{
  background: url("src/assets/home/Proyecto-4/Sección4.png") center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.header{
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 109.9%;
  color: #843C1D;
}
.iframe{
  width: 100%;
  min-height: 100vh;
}
.header-s{
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 109.9%;
  color: #C8471B;
}
